* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #1992D4;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 70px;
}

.nav {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 3fr 4fr;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    z-index: 100;
    padding: 1rem;
    padding-right: 20px;
}

.main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #E2E8F0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 17fr 7fr;
}

img[src="view-dashboard.svg"] {
    width: 60px;
    height: 60px;
}

.dash {
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-right: 0.5rem;
    padding-left: 0.3rem;
}

.general div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 15px;
}

.general div img {
    width: 30px;
    height: 30px;
}

.general div span {
    font-weight: 500;
    font-size: 24px;
}

.preferences div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 15px;
}

.preferences div img {
    width: 30px;
    height: 30px;
}

.preferences div span {
    font-weight: 500;
    font-size: 24px;
}

.general, 
.preferences {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.account span {
    font-size: 22px;
    font-weight: 700;
}

.profile-image-small {
    background-color: #FACC15;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.account img {
    width: 2rem;
    height: 2rem;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 2fr 3fr;
    padding-left: 5%;
}

.profile-image-large-container {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image-large {
    background-color: #FACC15;
    width: 70px;
    height: 70px;
    border-radius: 200px;
}

img[src="magnify.svg"] {
    width: 30px;
    height: 30px;
}

.search-bar {
    width: 80%;
    height: 30px;
    background-color: #E2E8F0;
    border-radius: 200px;
}

.hello, 
.name {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    font-weight: 700;
}

.hello {
    align-items: end;
}

.name {
    align-items: start;
    font-size: 28px;
    padding-top: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 0.5rem;
}

.buttons button {
    background-color: #1992D4;
    color: white;
    border: 2px solid #1992D4;
    padding: 15px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.buttons button:hover {
    background-color: white;
    color: #1992D4;
    cursor: pointer;
}

.projects-container {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    padding-left: 40px;
    padding-bottom: 40px;
    gap: 20px;
}

.title {
    align-self: flex-start;
    font-size: 20px;
    font-weight: 500;
}

.projects {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    flex-grow: 1;
}

.projects > div {
    background-color: white;
    border-radius: 10px;
    border-left: 10px solid #F0B429;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.projects span {
    font-weight: 500;
    font-size: large;
}

.projects p {
    color: #636363;    
}

.projects > div > div {
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.announcements-container,
.trending-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    padding-right: 40px;
    gap: 20px;
}

.trending-container {
    padding-bottom: 40px;
}

.announcements-title,
.trending-title {
    align-self: flex-start;
    font-size: 20px;
    font-weight: 500;
}

.announcements,
.trending {
    background-color: white;
    display: flex;
    flex-grow: 1;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
}

.site-maintenance-title,
.community-share-title,
.privacy-policy-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.site-maintenance-container {
    border-bottom: 2px solid #D2D2D2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.community-share-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.privacy-policy-container {
    border-top: 2px solid #D2D2D2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.site-maintenance,
.community-share,
.privacy-policy {
    font-size: 12px;
    color: #767676;
}

.announcements {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 25px;
    padding-right: 25px;
}

.icons img {
    width: 30px;
    height: 30px;
}

.trending {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.tegan,
.morgan,
.kendall,
.alex {
    height: 25%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
}

.tegan-image-container,
.morgan-image-container,
.kendall-image-container,
.alex-image-container {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tegan-image,
.morgan-image,
.kendall-image,
.alex-image {
    width: 3rem;
    height: 3rem;
    border-radius: 1000px;
}

.tegan-image {
    background-color: #E0F2FE;
}

.morgan-image {
    background-color: #FACC15;
}

.kendall-image {
    background-color: #A3A3A3;
}

.alex-image {
    background-color: #FDA4AF;
}

.tegan-tag,
.morgan-tag,
.kendall-tag,
.alex-tag {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;    
    padding-bottom: 3px;
}

.tegan-description,
.morgan-description,
.kendall-description,
.alex-description {  
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    color: #646464;
    padding-top: 3px;
}