* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid; 
    grid-template-rows: 3fr 10fr;
    grid-template-columns: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

.header {
    display: grid; 
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 15fr 9fr;
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
    /* 
    Do shadow stuff here 
    box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10; */
}

.search {
    background-color: white;
}

.search > img:hover {
    cursor: pointer;
}

.hello {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 7fr;
}

.buttons > button {
    background-color: #4590CE;
    color: white;
    border: 2px solid #4590CE;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
}

.buttons > button:hover {
    background-color: white;
    border-color: #4590CE;
    color: #4590CE;
    cursor: pointer;
}

.hello > .profile-pic {
    grid-area: 1 / 1 / 3 / 2;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.profile-pic > #profile-pic {
    width: 50%;
    padding-bottom: 25%;
    padding-top: 25%;
    background-color: #F3CE49;
    border-radius: 9999999px;
}

.hello > div > span {
    font-weight: 500;
}

.hello > div {
    padding: 0 0;
}

.hi, 
.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hi {
    justify-content: flex-end;
}

.name {
    justify-content: flex-start;
    box-sizing: border-box;
    margin-top: 10px;
}

.name > span {
    font-size: 24px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.notifications {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 50px;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;  
    background-color: #1992D4;
    color: white;
}

.content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #E2E8F0;
}

img[src="view-dashboard.svg"] {
    width: 18%;
    height: 18%;
    margin: 5%;
}

.dashboard {
    display: flex;
    align-items: center;
}

.dashboard > span {
    font-size: 2em;
    font-weight: 500;
}

.general {
    height: 43%;
    width: 100%;
    padding: 10% 0;
}

.general > div {
    box-sizing: border-box;
    height: 15%;
    display: flex;
    align-items: center;
}

.general > div:hover {
    cursor: pointer;
}

.general > div > img {
    height: 60%;
    padding: 8%;
}

.general > div > span {
    font-size: 1.5vw;
    font-weight: 500;
}

.preferences {
    height: 20%;
    width: 100%;
    padding: 0; 
}

.preferences > div {
    box-sizing: border-box;
    height: 33%;
    display: flex;
    align-items: center;
}

.preferences > div:hover {
    cursor: pointer;
}

.preferences > div > img {
    height: 60%; 
    padding: 8%; 
}

.preferences > div > span {
    font-size: 1.5vw;
    font-weight: 500;
}

.search {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px;
    align-items: center;
}

.search > img {
    width: 25px;
    height: 25px;
    margin: 20px;
}

.search-bar {
    background-color: #E2E8F0;
    height: 30px;
    width: 600px;
    border-radius: 15px;   
}

.notifications > img {
    width: 25px;
    height: 25px;
}

.notifications > img:hover {
    cursor: pointer;
}

.notifications > .profile-pic {
    background-color: #FACC15;
    height: 48px;
    width: 48px;
    border-radius: 28px;
}

.notifications > span {
    font-size: 20px;
    font-weight: 600;
}

.content {
    display: grid;
    grid-template-columns: 8fr 3fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

.project-container {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-title { 
    padding: 0px 20px;
}

.projects-title > span {
    font-size: 20px;
    font-weight: 400;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 85%;
    padding: 20px;
    gap: 20px;
}

.projects > div {
    box-sizing: border-box;
    padding: 30px 20px;
    border-radius: 5px;
    background-color: white;
    border: 0px solid #E3E8EF;
    border-left: 8px solid #E7B64A;
    
}

.projects > div > span {
    font-size: 18px;
    font-weight: 500;
}

.projects > div > p {
    color: #636363;
    font-weight: 400;
    padding: 5px 0px;
    height: 70%;
}

.icons {
    padding-left: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons > img {
    width: 25px;
    height: 25px;
}

.icons > img:hover {
    cursor: pointer;
} 

.announcements-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
}

.announcements-title {

}

.announcements-title > span {
    font-size: 20px;
    font-weight: 10px;
}

.announcements-container > div > div > p {
    font-size: 13px;
}

.announcements {
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 225px;
    /* height: 300px; */
}

.announcements > div > span {
    font-size: 14px;
    font-weight: 500;
}

.announcements > div {
    padding: 10px;
}

.announcements > div > p {
    color: #636363;
}

.community-share {
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

.trending-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.trending-title > span {
    font-size: 20px;
    font-weight: 10px;
}

.trending {
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;
    height: 283px;
    width: 255px;
    padding-left: 15px;
    padding-right: 15px;
}

.trending > div {
    height: 25%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 7fr 17fr;
}

.trending-profile {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-img {
    width: 60%;
    height: 60%;
    border-radius: 1000000px;
}

.tegan > .trending-profile > .trending-img {
    background-color: #E3F1FD;
}

.morgan > .trending-profile > .trending-img {
    background-color: #F3CE49;
}

.kendall > .trending-profile > .trending-img {
    background-color: #A3A3A3;
}

.alex > .trending-profile > .trending-img {
    background-color: #F0A8B0;
}

.trending-tag {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 12px;
    padding-bottom: 1px;
}

.trending-description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 1px;
}